@charset "utf-8";

.nav {
    position: absolute;
    padding: 5px 0;
    top: 113px;
    width: 100%;
    background-color: white;
}

.nav .contents h1 {
    display: none;
}
.com_tabtype .tab_title.active {
    padding: 0;
    border: 3px solid #2c2c2c;
}
.com_tabtype .tab_title.active span {
    border: 1px solid transparent;
}

.com_tabtype .tab_title.active + .tab_content {
    display: block;
}
.nav-item > li {
    list-style: none;
    width: 162px;
    padding: 20px 0;

}
.nav .contents {
    position: relative;
}

.nav-item {
    display: inline-flex;
}
.nav-item > li > h2 > a {
    font-weight: 600;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}
.nav-item > li > h2 {
    position: absolute;
    top: 7px;
}

h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

ol,
ul {
    list-style: none;
}
.block {
    margin: 0 auto;
}

.block-img {
    width: 100%;
    height: 70px;
}
.memberInfo_wrap {
    display: flex;
    align-items: center;
}

.contents .contents > span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    line-height: 1.462em;
    transform: translate(-21%, 0);
}
#sideLogo {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

a {
    color: inherit;
    text-decoration: none;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}

.header .contents .memberInfo_wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;

}
#a {
    width: 22px;
    height: 33px;
    padding-left: 5px;
}

#mainImg {
    width: 36px;
    height: 36px;
}
.memberInfo_wrap > li {
    margin-left: 10%;
    height: 58px;
    width: 84px;
}
.modiImg1 {
    padding-left: 10%;

}

#main1 {
    position: absolute;
    bottom: 0;
    left: 28%;
    font-size: 13px;
    color: rgba(24, 23, 23, 0.911);
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}
.nav-item > li:first-child .nav_overMenu {
    padding-left: 0;
}
.nav-item > li:first-child {
    width: 137px;
}
.nav_overMenu {
    display: none;
    position: relative;
    margin-bottom: 8px;
    padding: 40px 0 0 25px;
}

.header_content .contents .memberInfo_wrap li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}

.header {
    position: relative;
    z-index: 101;
}

.nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 53px;
    width: 100%;
    height: 1px;
    background-color: #fb5f43;

}

.nav.fixed {
    position: fixed;
    top: 0;
    min-width: 1040px;
    padding: 10px 0;
}
.nav:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #a58e8e;
}
.nav.fixed:after {
    top: 0;
    bottom: auto;
    height: 63px;
    background-image: linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47));
    z-index: 1;
}
/*
.nav.fixed .contents .nav-item > li:first-child > h2{
left: 120px;
}*/

.nav.fixed .contents .nav-item > li > h2 > a {
    color: #fff;

}

.nav.fixed .contents .nav-item > li > h2 > a.btn-fix {
    padding: 10px;
}

.nav_overMenu dt a {
    font-weight: 700;
    font-size: 14px;
    color: rgb(15, 15, 15);
    line-height: 1.429em;
}
.nav_overMenu dt + dd {
    margin-top: 8px;
}
.nav_overMenu dd a {
    font-weight: 400;
    font-size: 14px;
    color: rgb(134, 131, 131);
    line-height: 2.143em;
}

.nav_overMenu h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    text-align: left;
    background-image: none;
}
.nav_menu > li:nth-child(2) > h2 {
    left: 80px;
}
.header_content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}
.header_content .contents h1 a img i {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_content {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {

    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}

.nav_overMenu:before {
    content: '';
    position: absolute;
    left: 0;
    top: 45px;
    display: block;
    width: 1px;
    height: 100px;
    background-color: rgb(158, 155, 155);
    opacity: 0.8;
}

.nav_overMenu:before {
    content: none;
}

.nav.fixed .contents {
    z-index: 2;
}

.fixedBtn_wrap {
    display: none;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    bottom: 80px;
    min-height: 50px;
    margin-left: 440px;
    text-align: center;
    z-index: 7;

}

.fixedBtn_wrap .btn_fixedTicketing {
    position: absolute;
    left: auto;
    width: 136px;
    padding: 12px 0 14px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 1.5em;
    background-image: linear-gradient(to left, rgb(255,115,86), rgb(251,67,87));
    box-shadow: 1px 3px 6px 0 rgb(0 0 0 / 30%);
    border-radius: 25px;
    transition: right 0.4s;
}

.fixedBtn_wrap .btn_gotoTop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    width: 48px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity0.2s;
}
.fixedBtn_wrap.topBtn {
    display: block;
}

.fixedBtn_wrap.topBtn .btn_gotoTop {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s;
}

.fixedBtn_wrap.topBtn .btn_fixedTicketing {
    right: 58px;
    opacity: 1;
}

.mypageContainer {
    position: relative;
    width: 100%;
    z-index: 7;
}

.mypageContent {
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.mypage-info {
    height: 450px;
    margin-top: 25px;
    width: 980px;
}

.mypage-info-wrap {
    width: 882px;
    height: 390px;
    padding: 60px 40px 0 58px;
    background: url("https://img.cgv.co.kr/R2014/images/common/bg/bg_mycgv_info.gif") no-repeat 0 0;
}
.cols-content {
    float: left;
    
}
.cols-content:after {
    content: '';
    clear: both;
    display: block;
}

.mypage-box-img {
    float: left;
    width: 135px;
    height: 135px;
}
.thumb-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.mypage-box-content {
    float: right;
    width: 686px;
}
.mypage-side-bar:first-child {
    float: left;
}
.mypage-side-bar {
    width: 217px;
}
.on {
    margin-top: 1px;
    border-top: 0 none;
}

.mypage-sub-bar > ul {
    list-style: none;
}
.mypage-sub-bar > ul > li {
    border-top: 1px solid rgb(73, 72, 72);
    width: 135%;
    height: 50px;
    text-align: inherit;
    margin-top: 18%;
}
.mypage-sub-bar > ul > li > a {
    font-size: 18px;
    padding-left: 9%;
}

/*메인 콘텐츠 */
.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 7;
}

#contents {
    clear: both;
    padding-bottom: 50px;
}

#cgvwrap .cgv-ad-wrap .sect-head-ad, .head, .im-wrap, #contents, .foot, .sect-smuse, .sect-cinfo {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.wrap-join-2016 .join-hd {
    text-align: center;
}

.wrap-join-2016 .join-hd h3 {
    margin: 60px 0 18px;
    height: auto;
    background: none;
}

h3 > img {
    padding: 0 8px;
    background-color: #fdfcf0;
}

input, select, img {
    vertical-align: middle;
}

.wrap-join-2016 .join-hd > p {
    margin-bottom: 33px;
    font-size: 15px;
    color: #222;
}

.wrap-join-2016 .link-join {
    display: inline-block;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    background-color: #fb4357;
}

.wrap-join-2016 .link-join > span {
    display: block;
    padding: 0 50px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #f07469;
}

.wrap-join-2016 .join-benefit {
    margin-top: 46px;
    padding: 0 30px;
}

.wrap-join-2016 .join-benefit h4 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.wrap-join-2016 .benefit-list {
    overflow: hidden;
    margin-bottom: 30px;
}

.wrap-join-2016 .benefit-list > li:first-child {
    margin-left: 0;
}

.wrap-join-2016 .benefit-list > li {
    float: left;
    padding: 30px;
    margin-left: 10px;
    width: 238px;
    height: 188px;
    border: 1px solid #e1e0db;
    color: #222;
}

.wrap-join-2016 .benefit-list h5 {
    display: block;
    padding-bottom: 13px;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #e1e0db;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.wrap-join-2016 .benefit-list .bl-dep1 {
    margin-top: 10px;
}

.wrap-join-2016 .benefit-list .bl-dep1 > li:first-child {
    margin-top: 0;
}

.wrap-join-2016 .benefit-list .bl-dep1 > li {
    padding-left: 8px;
    font-size: 12px;
    background: url(../images/common/bul_circle_small.gif) no-repeat 0 7px;
    line-height: 1.8;
}

.wrap-join-2016 .benefit-list .bl-dep2 > li:first-child {
    margin-top: 0;
}

.wrap-join-2016 .benefit-list .bl-dep2 > li {
    padding-left: 8px;
    font-size: 13px;
    background: url(../images/common/bul_bar_small.gif) no-repeat 0 9px;
    line-height: 1.8;
}

.wrap-join-2016 .bl-desc {
    text-align: center;
    font-size: 14px;
    color: #222;
}
/*footer !!!!!!!!!!!!!!*/

footer {
    min-width: 1040px;
    padding: 0 0 14px;
    background-color: #f8f8f8;
}
footer .company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}
.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}
.company_info address {
    font-style: normal;
}
.company_info .company_info_list {
    display: flex;
}
.company_info .company_info_list dt:after {
    content: ':';
    padding: 0 4px;
}
.company_info .company_info_list dt ~ dt:before {
    content: '·';
    padding: 0 8px 0 4px;
}
.company_info .company_info_list dd a {
    text-decoration: underline;
}