@charset "utf-8";

.nav {
    position: absolute;
    padding: 5px 0;
    top: 113px;
    width: 100%;
    background-color: white;
}

.nav .contents h1 {
    display: none;
}
.com_tabtype .tab_title.active {
    padding: 0;
    border: 3px solid #2c2c2c;
}
.com_tabtype .tab_title.active span {
    border: 1px solid transparent;
}

.com_tabtype .tab_title.active + .tab_content {
    display: block;
}
.nav-item > li {
    list-style: none;
    width: 162px;
    padding: 20px 0;

}
.nav .contents {
    position: relative;
}

.nav-item {
    display: inline-flex;
}
.nav-item > li > h2 > a {
    font-weight: 600;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}
.nav-item > li > h2 {
    position: absolute;
    top: 7px;
}

h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

ol,
ul {
    list-style: none;
}
.block {
    margin: 0 auto;
}

.block-img {
    width: 100%;
    height: 70px;
}
.memberInfo_wrap {
    display: flex;
    align-items: center;
}

.contents .contents > span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    line-height: 1.462em;
    transform: translate(-21%, 0);
}
#sideLogo {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

a {
    color: inherit;
    text-decoration: none;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}

.header .contents .memberInfo_wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;

}
#a {
    width: 22px;
    height: 33px;
    padding-left: 5px;
}

#mainImg {
    width: 36px;
    height: 36px;
}
.memberInfo_wrap > li {
    margin-left: 10%;
    height: 58px;
    width: 84px;
}
.modiImg1 {
    padding-left: 10%;

}

#main1 {
    position: absolute;
    bottom: 0;
    left: 28%;
    font-size: 13px;
    color: rgba(24, 23, 23, 0.911);
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}
.nav-item > li:first-child .nav_overMenu {
    padding-left: 0;
}
.nav-item > li:first-child {
    width: 137px;
}
.nav_overMenu {
    display: none;
    position: relative;
    margin-bottom: 8px;
    padding: 40px 0 0 25px;
}

.header_content .contents .memberInfo_wrap li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}

.header {
    position: relative;
    z-index: 101;
}

.nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 53px;
    width: 100%;
    height: 1px;
    background-color: #fb5f43;

}

.nav.fixed {
    position: fixed;
    top: 0;
    min-width: 1040px;
    padding: 10px 0;
}
.nav:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #a58e8e;
}
.nav.fixed:after {
    top: 0;
    bottom: auto;
    height: 63px;
    background-image: linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47));
    z-index: 1;
}
/*
.nav.fixed .contents .nav-item > li:first-child > h2{
  left: 120px;
}*/

.nav.fixed .contents .nav-item > li > h2 > a {
    color: #fff;

}

.nav.fixed .contents .nav-item > li > h2 > a.btn-fix {
    padding: 10px;
}

.nav_overMenu dt a {
    font-weight: 700;
    font-size: 14px;
    color: rgb(15, 15, 15);
    line-height: 1.429em;
}
.nav_overMenu dt + dd {
    margin-top: 8px;
}
.nav_overMenu dd a {
    font-weight: 400;
    font-size: 14px;
    color: rgb(134, 131, 131);
    line-height: 2.143em;
}

.nav_overMenu h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    text-align: left;
    background-image: none;
}
.nav_menu > li:nth-child(2) > h2 {
    left: 80px;
}
.header_content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}
.header_content .contents h1 a img i {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_content {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {

    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}

.nav_overMenu:before {
    content: '';
    position: absolute;
    left: 0;
    top: 45px;
    display: block;
    width: 1px;
    height: 100px;
    background-color: rgb(158, 155, 155);
    opacity: 0.8;
}

.nav_overMenu:before {
    content: none;
}

.nav.fixed .contents {
    z-index: 2;
}

.fixedBtn_wrap {
    display: none;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    bottom: 80px;
    min-height: 50px;
    margin-left: 440px;
    text-align: center;
    z-index: 7;

}

.fixedBtn_wrap .btn_fixedTicketing {
    position: absolute;
    left: auto;
    width: 136px;
    padding: 12px 0 14px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 1.5em;
    background-image: linear-gradient(to left, rgb(255,115,86), rgb(251,67,87));
    box-shadow: 1px 3px 6px 0 rgb(0 0 0 / 30%);
    border-radius: 25px;
    transition: right 0.4s;
}

.fixedBtn_wrap .btn_gotoTop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    width: 48px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity0.2s;
}
.fixedBtn_wrap.topBtn {
    display: block;
}

.fixedBtn_wrap.topBtn .btn_gotoTop {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s;
}

.fixedBtn_wrap.topBtn .btn_fixedTicketing {
    right: 58px;
    opacity: 1;
}

.mypageContainer {
    position: relative;
    width: 100%;
    z-index: 7;
}

.mypageContent {
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.mypage-info {
    height: 450px;
    margin-top: 25px;
    width: 980px;
}

.mypage-info-wrap {
    width: 882px;
    height: 390px;
    padding: 60px 40px 0 58px;
    background: url("https://img.cgv.co.kr/R2014/images/common/bg/bg_mycgv_info.gif") no-repeat 0 0;
}
.cols-content {
    float: left;
    width: 217px;
}
.cols-content:after {
    content: '';
    clear: both;
    display: block;
}

.mypage-box-img {
    float: left;
    width: 135px;
    height: 135px;
}
.thumb-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.mypage-box-content {
    float: right;
    width: 686px;
}
.mypage-side-bar:first-child {
    float: left;
}
.mypage-side-bar {
    width: 217px;
}
.on {
    margin-top: 1px;
    border-top: 0 none;
}

.mypage-sub-bar > ul {
    list-style: none;
}
.mypage-sub-bar > ul > li {
    border-top: 1px solid rgb(73, 72, 72);
    width: 135%;
    height: 50px;
    text-align: inherit;
    margin-top: 18%;
}
.mypage-sub-bar > ul > li > a {
    font-size: 18px;
    padding-left: 9%;
}

/*메인 콘텐츠 */
.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 7;
}

.movie-wrap {
    position: relative;
    height: 500px;
    background-color: black;
    border-top: 2px solid red;
}

.container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.movie-wrap .contents .video-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.movie-wrap .contents .movie-title {
    position: absolute;
    top: 170px;
    left: 0;
    font-weight: 700;
    font-size: 55px;
    color: pink;
    line-height: 1.450em;
    z-index: 2;
    text-shadow: 2px 2px 4px red;
}
.movie-wrap .contents .movie-txt {
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 240px;
    left: 0;
    max-width: 100%;
    color: purple;
    line-height: 2em;
    text-overflow: ellipsis;
    z-index: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    pointer-events: none;
    font-size: 40px;

}
.movie-wrap .contents .movie-wrap-controller {
    display: inline-flex;
    position: absolute;
    top: 400px;
    left: 3;
    left: 3px;
    z-index: 4;

}

.movie-wrap .contents .movie-wrap-controller .movie-detail-btn {
    display: block;
    padding: 7px 45px 7px 35px;
    font-size: 14px;
    color: rgb(7, 7, 7);
    line-height: 2em;
    background: darksalmon url("../images/multimedia.png") calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}

.movie-wrap .contents .movie-wrap-controller .movie-stop-btn {
    display: block;
    margin-left: 10px;
    height: 40px;
    font-size: 0;
    background: transparent url("../images/video-play-button.png") center/18px no-repeat;
    border: 1px solid;
    border-radius: 50%;
    width: 44px;
    background-color: bisque;
    border-color: bisque;
}
.movie-wrap .contents .movie-wrap-controller .movie-sound-off-btn {
    display: block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 0;
    background: transparent url("../images/mute.png") center/18px no-repeat;
    border: 1px solid;
    border-radius: 50%;
    border-color: bisque;
    background-color: bisque;
}

/* 무비차트 */

.movie-chart-wrap {
    clear: none;
    float: none;
    background-image: linear-gradient(to bottom, white, white);
}

.movie-chart-wrap .contents {
    overflow: hidden;
    /*margin-left: 30px;*/
    padding: px 30px 60px;
    width: 980px;
    height: 100%;
    margin: 0 AUTO;
}
.movie-chart-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.movie-chart-btn-wrap .chart-name-wrap {
    display: inline-flex;
}

.movie-chart-btn-wrap .chart-name-wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;

}
h3 {
    height: 40px;
    margin: 30px 0 15px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
}
S .movie-chart-btn-wrap .chart-name-wrap h3 a.active {
    font-weight: 700;
    color: rgb(114, 111, 111);
}

.movie-chart-btn-wrap .chart-name-wrap h3 a {
    font-weight: 400;
    font-size: 26px;
    color: rgb(70, 68, 68);
    line-height: 1.5em;
}
.movie-chart-btn-wrap .chart-name-wrap h3 ~ h3 {
    position: relative;
    margin-left: 32px;
}

.movie-chart-btn-wrap .chart-name-wrap h3 ~ h3:before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: white;

}
.movie-chart-btn-wrap .movie-all-view {
    padding: 2px 18px 3px 15px;
    font-size: 14px;
    color: rgb(8, 0, 0);
    line-height: 1.5em;
    background: transparent url("../images/right-arrow.png") calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}
.movie-chart-btn-wrap .movie-all-view1 {
    padding: 2px 18px 3px 15px;
    font-size: 14px;
    color: rgb(8, 0, 0);
    line-height: 1.5em;
    background: transparent url("../images/right-arrow.png") calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
    margin-left: 66%;
}
.movie-list.swiper {
    overflow: visible;
    position: relative;
}

.movie-list .swiper-wrapper .swiper-slide .img-wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.img-wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.movie-list:before {
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-age-limit {
    position: absolute;
    right: 6px;
    top: 7px;
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-age-limit {
    display: none;
}

.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover {
    box-shadow: 6px 10px 20px 0 rgb(0, 0, 0,0.4);
}
.movie-list .swiper-slide .swiper-wrapper .img-wrap:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
}
.movie-list .swiper-slide .swiper-wrapper .img-wrap:hover:after {
    opacity: 0;
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a.movie-detail {
    color: rgb(83, 81, 81);
    background: white;

}
.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a.movie-ticketing {
    color: rgb(255, 255, 255);
    background: rgb(170, 67, 67);

}

.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a:hover {
    opacity: 0.8;
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-hidden-btn {
    display: none;
}

.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 4px;
    margin-top: 10px;
}
.movie-list .swiper-wrapper .swiper-slide .img-wrap:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
}

.movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-age-limit img {
    width: 30px;
    height: 30px;
}

.movie-list .swiper-wrapper .swiper-slide .movie-info-wrap {
    display: flex;
    flex-wrap: wrap;
}
.movie-list .swiper-wrapper .swiper-slide .movie-info-wrap .movie-name {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.2em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: rgb(99, 97, 97);
    line-height: 1.2em;
    font-weight: 600;

}
.movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}
.movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span ~ span {
    position: relative;
    padding-left: 40px;
}

.movie-list .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.8) url("../images/right-arrow.png") center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}
.movie-list .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

/*이벤트 부분 css*/

.event-wrap {
    padding: 60px 0 6px;
}

.event-title-wrap {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.event-title-wrap h3 {
    float: left;
    height: auto;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    color: #222;
    line-height: 16px;
    background-image: none;
}

.event-title-wrap .btn-allView {
    float: right;
    margin-top: 4px;
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 16px;
    background: transparent url("../images/video-play-button.png") calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.event-title-wrap .btn-eventControl {
    display: block;
    position: absolute;
    right: 106px;
    top: 4px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url("./../images/common/ico/main/play.png") 10px center/11px 15px scroll no-repeat;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
}

.event-list-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 19px;
    margin-left: -30px;
    padding: 0 30px;
}
.event-list-wrap .event-list {
    overflow: visible;
    position: relative;
}

/* 본격 컨텐츠 /////////////////////////////////////////////////////////////////////////// */
#contaniner {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    z-index: 7;
}

* 영화차트 리스트 */ [class|="sect"][class*="chart"] {
    position: relative;
    overflow: hidden;
}
[class|="sect"][class*="chart"] > ol {
    padding-top: 30px;
    margin-left: -64px;
    zoom: 1;
}
[class|="sect"][class*="chart"] > ol:after {
    content: '';
    clear: both;
    display: block;
}
[class|="sect"][class*="chart"] > h4 {
    margin-top: 30px;
    color: #222222;
    font-size: 21px;
    font-weight: 500;
}
[class|="sect"][class*="chart"] > h4 + ol {
    padding-top: 20px;
}
[class|="sect"][class*="chart"] > h3:first-child + ol,
[class|="sect"][class*="chart"] > h4:first-child + ol {
    padding-top: 0;
}
[class|="sect"][class*="chart"] > h3:first-child + ol .rank,
[class|="sect"][class*="chart"] > h4:first-child + ol .rank,
[class|="sect"][class*="chart"] > .spec + ol .rank {
    background: #fb4357;
}
[class|="sect"][class*="chart"] > h3 {
    margin-top: 30px;
    color: #222222;
    font-size: 21px;
    font-weight: 500;
}
[class|="sect"][class*="chart"] > h3 + ol {
    padding-top: 20px;
}
[class|="sect"][class*="chart"] > ol > li {
    float: left;
    width: 197px;
    margin-left: 64px;
    padding-bottom: 30px;
}
[class|="sect"][class*="chart"] > h4 + ol > li:first-child .title,
[class|="sect"][class*="chart"] > h3 + ol > li:first-child .title {
    width: 90%;
}
[class|="sect"][class*="chart"] .chart-ad {
    position: absolute;
    right: 0;
    top: 0;
}
[class|="sect"][class*="chart"] .btn-more-fontbold {
    float: right;
    margin-top: 10px;
}
[class|="sect"][class*="chart"] .box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}
/* [class|="sect"][class*="chart"] .thumb-image{  border: 6px solid #000000;} */
[class|="sect"][class*="chart"] .thumb-image > img {
    height: 260px;
}
[class|="sect"][class*="chart"] .screentype {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 29px;
    padding-top: 27px;
    background: url("../images/common/bg/bg_poster-gradation.png") 0 0 repeat-x;
    text-align: center;
}
[class|="sect"][class*="chart"] .screentype a,
[class|="sect"][class*="chart"] .screentype span {
    width: 59px;
    height: 20px;
    text-align: center;
    vertical-align: top;
}
[class|="sect"][class*="chart"] .screentype .imax {
    background-position: 0 -780px;
}
[class|="sect"][class*="chart"] .screentype .threeD {
    background-position: 0 -800px;
}
[class|="sect"][class*="chart"] .screentype .forDX {
    background-position: 0 -820px;
}
[class|="sect"][class*="chart"] .screentype .soundX {
    background-position: 0 -840px;
}
[class|="sect"][class*="chart"] .screentype .arthouse {
    background-position: 0 -860px;
}
[class|="sect"][class*="chart"] .screentype .collage {
    background-position: 0 -860px;
}
[class|="sect"][class*="chart"] .screentype .screenx {
    background-position: 0 -880px;
}
[class|="sect"][class*="chart"] .screentype .gold {
    background-position: 0 -900px;
}
[class|="sect"][class*="chart"] .screentype .cine {
    background-position: 0 -920px;
}

[class|="sect"][class*="chart"] .rank {
    display: block;
    height: 28px;
    margin-bottom: 4px;
    /*border: 6px solid #000000;*/
    background: #333333;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
}
[class|="sect"][class*="chart"] .rank.on {
    background: #fb4357;
}
[class|="sect"][class*="chart"] .no1 {
    position: absolute;
    right: -15px;
    bottom: -45px;
    display: block;
    width: 48px;
    height: 74px;
    background: url("../images/sprite/sprite_icon.png") -300px -20px no-repeat;
    font: 0/0 a;
    zoom: 1;
    z-index: 1;
}

[class|="sect"][class*="chart"] .title {
    font-size: 15px;
}
[class|="sect"][class*="chart"] .score {
    margin-top: 7px;
}
[class|="sect"][class*="chart"] .score .percent span {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
[class|="sect"][class*="chart"] .point {
    margin-left: 2px;
    padding-left: 6px;
    background: url("../images/common/bg/bg_writeinfo.gif") left 1px no-repeat;
}
[class|="sect"][class*="chart"] .point li {
    margin-left: 2px;
}
[class|="sect"][class*="chart"] .txt-info {
    margin-top: 3px;
    height: 13px;
    color: #666666;
    font-weight: 500;
    white-space: nowrap;
}
[class|="sect"][class*="chart"] .like {
    display: block;
    margin-top: 10px;
    text-align: center;
}
[class|="sect"][class*="chart"] .btn-like {
    width: 23px;
    height: 23px;
    background-position: -60px -66px;
}
[class|="sect"][class*="chart"] .btn-like.on {
    background-position: -83px -66px;
}
[class|="sect"][class*="chart"] .count {
    height: 25px;
    line-height: 23px;
    vertical-align: middle;
}
[class|="sect"][class*="chart"] .count strong {
    padding: 0 4px;
}
[class|="sect"][class*="chart"] .count .corner-arrow {
    left: -3px;
    top: 50%;
    width: 4px;
    height: 6px;
    margin-top: -4px;
    background-position: -10px 0;
    background-color: #ffffff;
}
[class|="sect"][class*="chart"] .link-reservation {
    width: 57px;
    height: 25px;
    background-position: -96px 0;
}
[class|="sect"][class*="chart"] .dday {
    display: inline-block;
}
[class|="sect"][class*="chart"] .warp-chart-ad {
    position: absolute;
    right: 0;
    top: 0;
}
[class|="sect"][class*="chart"] .spec {
    padding: 20px 22px;
    background: #f5f3e8;
    line-height: 1.8;
}
[class|="sect"][class*="chart"] .spec dt {
    width: 90px;
    padding-left: 6px;
    background: url("../images/common/bg/blit.gif") 0 7px no-repeat;
}
[class|="sect"][class*="chart"] .spec dd {
    padding-left: 96px;
}
[class|="sect"][class*="chart"] .sort {
    margin: 40px 0 20px;
    text-align: center;
}

/* [class|="sect"][class*="chart"] .list-more{} */
[class|="sect"][class*="chart"] .list-more {
    padding-top: 0;
}
[class|="sect"][class*="chart"] .list-more li {
    margin: 0 0 -3px;
    padding: 30px 0 30px 64px;
}
[class|="sect"][class*="chart"] .list-more li:first-child,
[class|="sect"][class*="chart"] .list-more li:first-child + li,
[class|="sect"][class*="chart"] .list-more li:first-child + li +li,
[class|="sect"][class*="chart"] .list-more li:first-child + li + li + li {
    margin-top: 0;
    border-top: none;
}
.wrap-movie-chart .box-contents {
    height: 93px;
}

div {
    display: block;
}
#contents {
    clear: both;
    padding-bottom: 50px;
}
.sect-sorting {
    position: relative;
    margin-top: 20px;
    text-align: right;
}

#cgvwrap .cgv-ad-wrap .sect-head-ad,
#contents,
.foot,
.head,
.im-wrap,
.sect-cinfo,
.sect-smuse {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}
.tit-heading-wrap {
    position: relative;
    height: 60px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}
.tit-heading-wrap > h3 {
    display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}
.tit-heading-wrap > .submenu {
    position: absolute;
    top: 18px;
    right: 0;
}
.tit-heading-wrap > .submenu > ul {
    overflow: hidden;
}
.tit-heading-wrap > .submenu > ul > li:first-child {
    margin-left: 0;
}
.tit-heading-wrap > .submenu > ul > li > a:focus,
.tit-heading-wrap > .submenu > ul > li > a:hover,
.tit-heading-wrap > .submenu > ul > li.on > a {
    background: url("https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow07.png") no-repeat 0 3px;
    color: #fb4357;
}
.tit-heading-wrap > .submenu > ul > li {
    float: left;
    margin-left: 15px;
}
.tit-heading-wrap > .submenu > ul > li > a {
    display: inline-block;
    padding-left: 13px;
    font-weight: 500;
    font-size: 14px;
}
.tit-heading-wrap > .submenu > ul:after {
    content: '';
    clear: both;
    display: block;
}
.sect-sorting .nowshow {
    position: absolute;
    left: 0;
    top: 0;
}
body,
button,
input,
select,
table,
textarea {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}
.hidden {
    font: 0/0 a;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
    zoom: 1;
}
.sect-sorting > select {
    padding: 3px 5px;
}
.sect-sorting > select option {
    height: 23px;
    line-height: 23px;
}
.round.gray {
    border: 2px solid #7b7b7b;
    color: #7b7b7b;
}
.round > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
div[class^="sect-"]:after {
    content: '';
    clear: both;
    display: block;
}
[class|="wrap-movie"][class*="chart"] .sect-movie-chart {
    margin-top: 30px;
}
[class|="sect"][class*="chart"] {
    position: relative;
    overflow: hidden;
}
div[class^="sect-"] {
    clear: both;
    zoom: 1;
}
[class|="sect"][class*="chart"] > h4 {
    margin-top: 30px;
    color: #222222;
    font-size: 21px;
    font-weight: 500;
}
[class|="sect"][class*="chart"] > h3:first-child + ol,
[class|="sect"][class*="chart"] > h4:first-child + ol {
    padding-top: 0;
}
[class|="sect"][class*="chart"] > ol > li {
    float: left;
    width: 197px;
    margin-left: 64px;
    padding-bottom: 30px;
}
[class|="sect"][class*="chart"] .box-image {
    position: relative;
    width: 197px;
    min-height: 272px;
    margin-bottom: 10px;
}
[class|="sect"][class*="chart"] > h3:first-child + ol .rank,
[class|="sect"][class*="chart"] > h4:first-child + ol .rank,
[class|="sect"][class*="chart"] > .spec + ol .rank {
    background: #fb4357;
}
.box-image a {
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
.thumb-image {
    display: block;
    position: relative;
}
[class|="sect"][class*="chart"] .thumb-image > img {
    height: 260px;
}
.box-image img {
    width: 100%;
}
img,
input,
select {
    vertical-align: middle;
}
.ico-grade.grade-12 {
    background-position: -51px 0;
}
.ico-grade {
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 21px;
    height: 21px;
    background: url("../images/12.png") no-repeat;
    font: 0/0 a;
    zoom: 1;
}
.wrap-movie-chart .box-contents {
    height: 93px;
}
.box-contents > a {
    display: block;
}
[class|="sect"][class*="chart"] > h4 + ol > li:first-child .title,
[class|="sect"][class*="chart"] > h3 + ol > li:first-child .title {
    width: 90%;
}
[class|="sect"][class*="chart"] .title {
    font-size: 15px;
}
.title {
    display: block;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
[class|="sect"][class*="chart"] .score {
    margin-top: 7px;
}
.score {
    font-size: 11px;
}
[class|="sect"][class*="chart"] .score .egg-gage,
[class|="sect"][class*="chart"] .score .percent {
    vertical-align: middle;
}
strong {
    font-weight: 500;
}
[class|="sect"][class*="chart"] .score .percent span {
    vertical-align: initial;
}
[class|="sect"][class*="chart"] .txt-info {
    margin-top: 3px;
    height: 13px;
    color: #666666;
    font-weight: 500;
    white-space: nowrap;
}
.txt-info {
    display: block;
    color: #999999;
    font-size: 12px;
}
.txt-info > strong {
    font-size: 11px;
}
strong {
    font-weight: 500;
}
[class|="sect"][class*="wishlist"] .like,
[class|="sect"][class*="chart"] .like {
    text-align: left !important;
}
.like {
    display: inline-block;
    margin-right: 3px;
}
[class|="sect"][class*="wishlist"] .like .link-reservation,
[class|="sect"][class*="chart"] .like .link-reservation {
    width: 97px !important;
    height: 25px !important;
    background: url("../images/reserbtn.png") 0 -110px no-repeat !important;
}
[class|="sect"][class*="chart"] .link-reservation {
    width: 57px;
    height: 25px;
    background-position: -96px 0;
}
[class|="sect"][class*="chart"] > ol:after {
    content: '';
    clear: both;
    display: block;
}
[class|="sect"][class*="chart"] .rank {
    display: block;
    height: 28px;
    margin-bottom: 4px;
    /* border: 6px solid #000000; */
    background: #333333;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 28px;
}

/* 푸터 /////////////////////////////////////////////////////////////////// */
footer {
    min-width: 1040px;
    padding: 0 0 14px;
    background-color: #f8f8f8;
}
footer .company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}
.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}
.company_info address {
    font-style: normal;
}
.company_info .company_info_list {
    display: flex;
}
.company_info .company_info_list dt:after {
    content: ':';
    padding: 0 4px;
}
.company_info .company_info_list dt ~ dt:before {
    content: '·';
    padding: 0 8px 0 4px;
}
.company_info .company_info_list dd a {
    text-decoration: underline;
}
