@charset "UTF-8";

.myPage-title-box > img{
	display: block;
    left: 6%;
    top: 7%;
    width: 139px;
    height: 135px;
    border-radius: 70px;
	margin-top: 14%;

}
.myPage-sect-common {
   background-color: rgba(127,125,13,0.1);
}

h2.myPage-top {
    width: 84%;
    margin-top: 2%;
    font-size: 35px;
    margin-left: 4%;
    margin-right: 32px;
}

.myPage-box-image {
	width: 100%;
    margin-top: 8%;
    font-size: 35px;
    margin-left: 15%;	
}

.sect-person-info {
    display: flex;
    margin-top: 4%;
}

.person-info {
  	margin-top: 13%;
    font-size: 18px;
    display: inline-grid;
    height: 63%;

}


.person-info > *{
	margin-bottom: 4%;
}

button#myPage-change-info {
   font-size: 18px;
    height: 42px;
    border: 3px solid darkgray;
    width: 71%;
    border-radius: 7px;

}
button#myPage-change-info:hover{
	background-color: gray;
	color:white;
	cursor: pointer;
}
.myPage-info-box > p{
	font-size: 24px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 3%;
}

.myPage-grade-info {
  	margin-top: 7%;
    width: 39%;
    height: 76%;
    border-radius: 12px;
    margin-left: 104px;
}

button#myPage-view_usergrade {
    margin-top: 2%;
    line-height: 27px;
    margin-left: 55px;
    border-radius: 6px;
    border: 0;
}


.myPage-box-contents.newtype {
 	margin-left: 4%;
    display: flex;
    width: 62%;
    height: 307px;
    
}
.myPage-sect-common {
    height: 309px;
    border-radius: 11px;
}

.mydgv-info-wrap {
    height: 309px;
}

.myPage-title-box {
    margin-left: 6%;
    margin-top: 4%;
    margin-right: 2%;
    height: 222px;
    margin-bottom: 6%;
    border-right: 1px solid;
    padding-right: 3%;
}

.myPage-coupon-title {
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 11%;
    border-radius: 10px;
}

.myPage-grade-title {
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
    border-radius: 12px;
}
.myPage-coupon-count > strong{
	font-size: 17px;
}
.myPage-coupon-count > span{
	margin-left: 3%;
    background: #f9f9f9cc;
    border-radius: 18px;
    padding: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #ac9220;
}
.myPage-content-wrap {
    width: 100%;
    margin-top: 3%;
    height: 750px;
    background-color: rgba(127,125,13,0.1);
    border-radius: 9px;
    padding: 2%;
    position: relative;
    overflow: hidden;
}
.myPage-cols-container {
    display: flex;
}

.myPage-table-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
table.myPage-table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
}
.myPage-table-wrap > span{
	font-size: 17px;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-top: 1%;
    font-weight: bold;
    margin-bottom: 1rem;

}
table.myPage-table {
    text-align: center;
      
}
thead.myPage-table-wrapping {
     border: 1px solid darkgray;
    background-color: rgba(245, 245, 245, 0.6);
}
.myPage-table-wrap {
    margin-top: 4%;
    border-radius: 8px;
    background-color: #e1e1d3;
}
thead.myPage-table-wrapping >tr {
	border-style: solid;
}
tbody > tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.myPage-table-wrap > span > button{
	margin-left: 69%;
    border-radius: 6px;
    background-color: #747373;
    color: white;
    font-weight: 800;
    line-height: 26px;
    width: 82px;
}
div#myPage-movie-list {
    margin-top: 5%;
    padding-top: 2%;
    position: absolute;
    width: 97%;
    text-align: -webkit-center;
    
}
.myPage-movie-list .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.8) url(./../../images/arrowL.png) center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}
.myPage-movie-list.swiper {
    overflow: visible;
    position: relative;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.img-wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.myPage-movie-list:before {
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.movieChart_list:after {
    content: '';
    display: block;
    position: absolute;
    right: -30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    z-index: 3;
}

.myPage-movie-list .swiper-wrapper {
    counter-reset: movie-chart-counter;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-age-limit {
    position: absolute;
    right: 6px;
    top: 7px;
    z-index: 4;
}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-age-limit {
    display: none;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:after {
    content: counter(movie-chart-counter);
    counter-increment: movie-chart-counter;
    position: absolute;
    left: 9px;
    bottom: -4px;
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    color: #fff;
    line-height: 1em;
    z-index: 3;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap img {
    z-index: 1;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover {
    box-shadow: 6px 10px 20px 0 rgb(0, 0, 0,0.4);
}
.myPage-movie-list .swiper-slide .swiper-wrapper .img-wrap:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
}
.myPage-movie-list .swiper-slide .swiper-wrapper .img-wrap:hover:after {
    opacity: 0;
}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a.movie-detail {
    color: rgb(83, 81, 81);
    background: white;

}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a.movie-ticketing {
    color: rgb(255, 255, 255);
    background: rgb(170, 67, 67);

}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a:hover {
    opacity: 0.8;
}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-hidden-btn {
    display: none;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover .movie-hidden-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 4px;
    margin-top: 10px;
}
.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap:hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .img-wrap .movie-age-limit img {
    width: 30px;
    height: 30px;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .movie-info-wrap {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}
 
.myPage-movie-list .swiper-wrapper .swiper-slide .movie-info-wrap .movie-name {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.2em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.myPage-movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: rgb(99, 97, 97);
    line-height: 1.2em;
    font-weight: 600;

}
.myPage-movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}
.myPage-movie-list .swiper-wrapper .swiper-slide .movie-info-wrap > span ~ span {
    position: relative;
    padding-left: 40px;
}

.myPage-movie-list .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.8) url("./../../images/arrowL.png") center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}
.myPage-movie-list .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    margin-right: 5%;
}
.myPage-movie-list .swiper-button-disabled {
    display: none;
}

.myPage-movie-list .swiper-button-prev {
    overflow: hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5%;
}

.myPage-movie-list .swiper-button-prev::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url("./../../images/arrowL.png") center/9px 13px scroll no-repeat;
}
.myPage-password-title {
    font-size: 19px;
    font-weight: 800;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 2%;
}

.myPage-check-title-wrap {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(58,84,72,0.1);
    margin-bottom: 10%;
    padding-left: 3%;
    font-weight: 700;
}
.myPage-mydata-all {
    display: flex;
    justify-content: center;
    height: 117px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.myPage-mydata-all > ul{
    margin-right: 6%;
    font-weight: 700;
    color: grey;
}
.myPage-mydata-all > ul >li#myId{
	margin-bottom: 26%;
}
.myPage-mydata-all > ul >li#myIdCk{
	margin-bottom: 7%;
	text-align: center;
}
input.myPwCk {
	line-height: 26px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
}
.myPage-button-wrap {
    margin-top: 4%;
    text-align: center;
}
input.myPage-button-wrap01{
	height: 35px;
    width: 10%;
    background-color: gray;
    border: none;
    color: white;
    margin-left: 6%;
    border-radius: 7px;
}
input.myPage-button-wrap01:hover{
	background-color: darkgray;
	color:white;
	font-weight: bolder;
    font-size: 16px;
}

input.myPage-button-wrap02{
	height: 35px;
    width: 20%;
    background-color: gray;
    border: none;
    color: white;
    border-radius: 7px;
}
input.myPage-button-wrap02:hover{
	background-color: darkgray;
	color:white;
	font-weight: bolder;
    font-size: 16px;

}
.myPage-update-title {
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 2%;
}

.myPage-update-title-wrapper {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.myPage-update-all > div > ul{
	display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 2%;
    padding-left: 5%;
}
.myPage-update-all > div > ul > li >input{
	margin-left: 157%;
    line-height: 20px;
    border: none;
    background-color: rgba(130,140,13,0);
}

.myPage-update-allButton {
    text-align: center;
}

.myPage-update-allButton > input[type="button"] {
    border: none;
    height: 33px;
    background-color: gray;
    color: white;
    border-radius: 11px;
    width: 19%;
    font-weight: bolder;
}
.myPage-update-allButton > input:hover {
	background-color: darkgray;
	color:white;
	font-weight: bolder;
    font-size: 16px;
}
.service-center-01 {
    height: 170px;
    width: 24%;
    background-color: rgb(0 0 0 / 38%);
    border-radius: 9px;
    color: white;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4%;
    display: grid;
}

a.service-sub-01 {
    display: contents;
}
.service-center-02 {
    height: 170px;
    width: 24%;
    background-color: rgb(0 0 0 / 38%);
    border-radius: 9px;
    color: white;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4%;
    display: grid;
}

a.service-sub-02 {
    display: contents;
}
.service-center-03 {
    height: 170px;
    width: 24%;
    background-color: rgb(0 0 0 / 38%);
    border-radius: 9px;
    color: white;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4%;
    display: grid;
}

a.service-sub-03 {
    display: contents;
}

.service-center-wrapping {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.service-table-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 3%;
}
span.service-center-text {
    font-size: 22px;
    font-weight: bolder;
    align-self: center;
}
.button-wrapping {
    display: flex;
    justify-content: space-between;
}

qna-often-wrapping {
    display: inline-block;
}
.qna-often-icon {
    align-self: center;
    margin-left: 7%;
    margin-right: 3%;
}
.qna-often-wrapping {
    text-align: -webkit-match-parent;
}
.qna-often-title > span {
    font-weight: bold;
    font-size: 18px;
}
.qna-often-title {
    margin-top: 15%;
}
.qna-often-text {
    font-size: 15px;
    margin-top: 5%;
    font-weight: bolder;
}
.qna-one-wrap {
    border: 1px solid #8080807a;
    height: 28%;
    display: flex;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 186px;
}
.qna-one-wrap01 {
    width: 380px;
    border-right: 1px solid #8080807a;
    height: 174px;
    display: flex;
}
.qna-one-wrap02{
	display: flex;
    width: 380px;
    height: 174px;
}
.btn-style{
	background-color: #fb4b43e0;
    color: white;
    height: 50px;
    box-sizing: border-box;
    padding-left: 41px;
    border-radius: 5px;
}
.oftenStyleText{
	position: absolute; 
	box-sizing: border-box; 
	 padding-top: 85px;
}
#faqTitle{
	color: #6c5944; 
	font-weight: 700; 
	border-color: lightgray; 
	text-align: center;
	width: 592px;
    height: 30px;
    background-color: #f8f8f1;
    border-radius: 5px;
}
.faqTextArea {
    border-radius: 6px;
    background-color: #f8f8f1;
    box-sizing: border-box;
    padding-left: 13px;
    padding-top: 19px;
    padding-right: 8px;
    border: 0;
}
#faqWriter{
	color: #6c5944; 
	font-weight: 700; 
	border-color: lightgray; 
	padding-left: 60px;
	width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: #f8f8f1;
}

button#myCouponList {
    font-size: 18px;
    height: 48px;
    border: 3px solid darkgray;
    width: 71%;
    border-radius: 7px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 10;
}

button#myCouponList:hover {
	background-color: gray;
	color:white;
}
.myPage-coupon-count {
    width: 193px;
    color: #333333;
}
.page-style {
    display: flex;
    width: 300px;
    
}
li.pageInfo_btn.active {
    border: 1px solid gray;
    border-radius: 4px;
    width: 15px;
    text-align: center;
    background-color: #fdfff0de;
   

}
ul#pageInfo {
    display: flex;
    justify-content: center;
}
li.pageInfo_btn {
    margin-right: 1rem;
}
.myPage-event-container {
    display: flex;
}
.myEvent-wrap {
    height: 500px;
    width: 700px;
}
.myEvent-wrapper {
    width: 700px;
    height: 500px;
}
.myEvent-wrapping {
    width: 450px;
    height: 250px;
}
.close-btn {
    display: flex;
    justify-content: end;
}
a#winnerStyle-change {
    color: #e9e8e9;
    background-color: #fa0735;
    border-radius: 8px;
}
img#modalEventInfo {
    width: 568px;
    height: 439px;
}
#modal-myBtnOK{
	background: #f4e0d4;
    border: 0;
    color: #a2775c;
}
#modal-myBtnX{
	background: #f4e0d4;
    border: 0;
    color: #a2775c;
}
img.star-style {
    width: 22px;
}

/* new  //////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn-myP{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn-myP.click{
  left: 260px;
}
.btn-myP span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn-myP.click span:before{
  content: '\f00d';
}
.sidebar-myP{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar-myP.show{
  left: 0px;
}
.sidebar-myP .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav#myP ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav#myP ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav#myP ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav#myP ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav#myP ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav#myP ul li a:hover{
  background: #1e1e1e;
}
nav#myP ul ul{
  position: static;
  display: none;
}
nav#myP ul .feat-show.show{
  display: block;
}
nav#myP ul .serv-show.show1{
  display: block;
}
nav#myP ul ul li{
  line-height: 42px;
  border-top: none;
}
nav#myP ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav#myP ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav#myP ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav#myP ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav#myP ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content-mypageTop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content-mypageTop .header-mypageTop{
  font-size: 45px;
  font-weight: 600;
}
.content-mypageTop p{
  font-size: 30px;
  font-weight: 500;
}
div.col-aside ul ul{
	position: static;
	display: none;
}
div ul .feat-show.show{
	display: block;
}
div ul .feat-show1.show{
	display: block;
}
div ul .feat-show2.show{
	display: block;
}
button#winnerStyle-change {
	width: 85px;
    height: 21px;
    padding: 0;
    border-radius: 6px;
}

/* 나의 예매내역 상세보기 */
.myPage-myReserve-wrapping {
    width: 800px;
    height: 600px;
    background: #f2f2e6;
    border-radius: 9px;
}
.myPage-myReserve-wrapper {
    margin-top: 26px;
}
.myPage-myReserve-movieImg {
    text-align: center;
    box-sizing: border-box;
    padding-top: 1rem;
}
img#myReserveImg {
    width: 227px;
    height: 276px;
}
.myReservePage-title {
    margin-left: 2rem;
    box-sizing: border-box;
    padding-top: 1rem;
    font-size: 22px;
    width: 736px;
    border-bottom: 1px solid #b5b5b5;
}
.myPage-myReserve-infoWrap {
    display: flex;
    margin-left: 4rem;
    margin-top: 8px;
    margin-right: 4rem;
}
.myPage-reserveTitle-wrap {
    display: grid;
    width: 98px;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

.myPage-reserveInfo-wrap {
    display: grid;
    width: 221px;
}
.myPage-reserveTitle-wrap1 {
    display: grid;
    width: 98px;
    font-size: 17px;
    align-items: center;
    text-align: center;
}
.myPage-reserveInfo-wrap2 {
    display: grid;
    width: 200px;
}
.myPage-myReserve-style {
    background: #ebebdf;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 220px;
    margin-bottom: 0rem;
    padding-top: 1px;
    margin-top: 1rem;
    border-radius: 9px;
}
.reserve-info-style {
    display: grid;
    padding-top: 11px;
    padding-left: 7px;
    border-bottom: 1px solid #aba8a8;
    height: 40px;
}
.myReserve-number {
    padding-bottom: 7px;
    display: flex;
    margin-top: 31px;
    margin-left: 77px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    width: 588px;
}
#myPointCheck{
	font-weight: normal;
}
.info-style.myPointCheck{
    margin-right: 15px;
    font-weight: normal;
    padding-left: 12px;
}
.info-style {
    padding-left: 12px;
}
.fix{
	display: block!important;
}