@charset "UTF-8";
.reserve_wrap{
    background-image: url(https://dgvworld.s3.ap-northeast-2.amazonaws.com/reserve10.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: 9rem;

}
div#reserveLogo-wrap {
    text-align: center;
    box-sizing: border-box;
    padding-top: 4rem;
    padding-left: 2em;
}
img#reserveLogo {
    width: 100px;
}
.insideInfo-wrapping {
    display: grid;
}
.insideInfo-wrap {
    box-sizing: border-box;
    padding-left: 17rem;
    padding-right: 10rem;
    height: 500px;
    padding-top: 153px;
}
input.reserve-style {
    line-height: 28px;
    margin-bottom: 7px;
    border: 0;
    outline: none;
    font-size: 17px;
    color: #445399;
}
.firstBtn {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding-top: 41px;
}
input#firstPage {
    width: 113px;
    height: 47px;
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 17px;
}
