@charset "utf-8";

.total-wrap{
    position: relative;
    margin: 0 auto;
    width: 996px;
    z-index: 1;
}

.navi-bar-button{
    float: right;
    margin-top: 30px;
}
.top-navi-menu{
    height: 105px;
    width: 992px;
}
.select-people-title{
    background-color: black;
    opacity: 0.8;
    height: 41px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}
.select-people-number > ul{
    display: flex;
}
.select-people-number-wrap{
    padding: 23px;
}

.select-people-number > ul > li{
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 3px;
}
.select-people{
    display: flex;
}
.select-people-number-box{
    display: flex;
    background-color: beige;
}
.select-people-wrapper {
    display: flex;
    border-right: outset;
    border-left: inset;
    flex-grow: 1;
    border-bottom: outset;
}
.select-people-age{
    width: 50px;
    padding-right: 10px;
    font-family: 'Gothic A1', sans-serif;
    margin-bottom: 10px;
    margin-top: 8px;
    font-weight: bold;
}

.selected-number-wrap {
    padding: 40px 23px 0 0px;
    border-right: outset;
}
.selected-number-title {
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.selected-number {
    text-align: center;
    font-size: 37px;
    font-weight: bolder;
}

.select-people-movie-title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
}
ul.select-people-movie-info-list {
    display: flex;
    margin-top: 6px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
}
.select-movie-time-info {
    display: flex;
    margin-top: 5px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
}
.selected-seat-list {
    margin-top: 5px;
    display: flex;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
}
.selected-price-info {
    margin-top: 5px;
    display: flex;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
}
.select-people-info {
    padding-left: 15px;
    padding-top: 5px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bolder;
}

li.select-theater-local.selected-theater-local-info {
    margin-right: 23px;
}
.select-movie-date {
    margin-right: 106px;
}
.selected-seats-view {
    margin-left: 10px;
}

/*인원수 클릭 반응*/

.select-people-ul > li:hover{
    color: white;
    background-color: rgb(241, 157, 31);
    cursor: pointer;
}
.select-people-ul-action{
    color: white;
    background-color: rgb(241, 157, 31);
}

/*좌석쪽 css*/
.user-seat-view {
	    padding: 30px;
	       
}
.seat-wrapper {
    width: 700px;
    height: 470px;
    background-color: black;
    opacity: 0.7;
    text-align: center;
}
.seat-container {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.screen-site {
    width: 150px;
    color: white;
    padding-top: 40px;
    font-size: 40px;
    text-align: center;
    margin: 0px 20px 0 39%;
}
.selected-price-total {
    padding-left: 11px;
}

/*검정바탕 예매 최종 확인버튼 */
.reservation-wrapper {
    background-color: #343433;
    height: 165px;
    margin-bottom: 28px;
    padding-left: 11px;
    padding-top: 11px;
    display: flex;
}

.choicPrev a {
    line-height: 270px;
    font-size: 20px;
}
button.seat-status {
    height: 27px;
    width: 41px;
    border-radius: 11px;
    font-weight: bolder;
}
button:disabled {
	background-color: -internal-light-dark(rgba(239, 239, 239, 0.2), rgba(19, 1, 1, 0.1));	
}
button.seat-status:hover:enabled{
	background: linear-gradient( 90deg, rgb(264 -11 -84) 0%, rgb(391 443 -6) 245% );
	color:white;
	
}

button#reservationSeat {
    background-color: rgb(70 223 70 / 80%);

}
.choiceBtnStyle{
	background: linear-gradient( 90deg, rgb(264 -11 -84) 0%, rgb(391 443 -6) 245% );
	color:white;
}
input#seatStatus {
    height: 20px;
    background-color: beige;
    border: none;
}

element.style {
}
input#selected-count {
    background-color: beige;
    border: 0;
    height: 29px;
    font-size: 30px;
    text-align: center;
    width: 100px;
}
span.selected-date {
    border-bottom: 1px solid;
    color: #342b2b;
}
.choicPrev {
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 15px;
    align-self: center;
}
img#movie-poster-img{
	width: 100px;
    height: 129px;
    padding-left: 14px;
    padding-top: 13px;
}
.movie-info {
    display: flex;
}
.movie-title-style {
    padding-left: 13px;
    padding-top: 19px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}
.movie-title-wrap {
    display: grid;
    border-right: 1px solid #9d9797;
    padding-right: 14px;
}
span.movie-title-en {
    font-weight: 100;
 	color: #ced0d1;
}
.movie-age-style {
    display: flex;
    padding-top: 22px;
    padding-left: 2px;
}
span.movie-genre-style {
    padding-left: 14px;
    padding-top: 9px;
    color: #fff;
}
.movie-theater-style {
    display: grid;
    padding-right: 13px;
    border-right: 1px solid #9d9797;
}
.movie-thearter-wrapping {
    display: flex;
}
.movie-date-style {
    display: grid;
    padding-left: 8px;
}
.movie-theater-container {
    display: grid;
    padding-top: 19px;
    padding-left: 20px;
    width: 355px;
}
span.movie-map-name {
    font-size: 18px;
    color: white;
}
span.movie-theater-name {
	font-size: 17px;
    color: white;
}
span.movie-date-name {
    font-size: 16px;
    color: white;
}
span.movie-time-name ,span.movie-seat-name {
	font-size: 16px;
    color: white;
}
input#userChoiceSeat {
    background-color: #343433;
    color: white;
    height: 25px;
    width: 247px;
}
.next-choice-style {
    padding-top: 28px;
    padding-left: 15px;
}
img#next-choice {
    height: 94px;
    border: 1px solid white;
    border-radius: 12px;
}
