body {
    font-family: 'Poppins-Regular';
    color: black;
    font-size: 13px;
    margin: 0;
}


input,
textarea,
select,
button {
    font-family: 'Poppins-Regular';
    color: black;
    font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 109vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner {
 	height: 577px;
    display: flex;
    width: 50;
    margin-bottom: 3%;
/*     margin-left: 13%; */
  	box-sizing: border-box;
}

.inner .image-holder {
    width: 100%;
    height: 102%;
}

.inner form {
    width: 326px;
    /* padding-top: 52px; */
    /* padding-left: 3%; */
    padding-right: 3%;
}

.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Poppins-SemiBold';
    text-align: center;
    margin-bottom: 28px;
}

.form-group {
    display: flex;
}

.form-group input {
    width: 60%;
}

.form-group input:first-child {
    margin-right: 25px;
}

.form-wrapper {
 /* position: relative;*/
    width: 100%;
}

.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}

.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 0;
  /*  height: 30px;
    margin-bottom: 25px;*/
}


.wrapper {
    position: relative;
    z-index: 1;
}

.wrapper:after {
   /* background-image: url('https://dgvworld.s3.ap-northeast-2.amazonaws.com/bg2.PNG');*/
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    background-size: 100%;
    opacity: 0.9 !important;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
}

.image-holder {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.image-holder>img {
    width: 100%;
    height: auto;
}

.register-title {
    display: flex;
    align-items: center;
/*     justify-content: center; */
    font-size: 25px;
}

.register-title>img {
    width: 150px;
    height: 70px;
    padding-bottom: 10px;
}

.zmdi-id {
    background-color: grey;
    padding: 3px;
    color: white;
    font-size: 10px;
}

.zmdi-id {
    opacity: 1;
}

.zmdi-id:active {
    opacity: 0.5;
}

#id {
    position: relative;
    height: 52px;
}

.idCheckButton {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 8px;
    width: 70px;
    height: 20px;
}

.idCheckButton:active {
    opacity: 0.5;
}


select option[value=''][disabled] {
    display: none;
}

button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 11px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: black;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

button:hover i,
button:focus i,
button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 1199px) {
    .wrapper {
        background-position: right center;
    }
}

@media (max-width: 991px) {
    .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .inner {
        display: block;
    }
    .inner .image-holder {
        width: 100%;
    }
    .inner form {
        width: 100%;
        padding: 40px 0 30px;
    }
    button {
        margin-top: 60px;
    }
}

.sign-up{
	color: white;
    font-size: 31px;
    margin-top: 4%;
    font-weight: bolder;
}

.id-up{
	color: white;
}

.form-wrapper > input {
    height: 35px;
    margin-bottom: 7px;
    margin-top: 6px;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
}

input.userYear {
    height: 31px;
    width: 38%;
    border-radius: 8px;
}

select.userMonth {
    height:  35px;
    width: 27%;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    border-radius: 8px;
}

select.userDay {
    height: 35px;
    width: 23%;
    font-size: 13px;
    font-weight: bold;
    color: gray;
    border-radius: 8px;
}

.user-birth {
    display: flex;
    justify-content: space-between;
}
.wrapper.sign-up-background {
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('https://dgvworld.s3.ap-northeast-2.amazonaws.com/bg4.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

span.sign-up-font {
    font-size: 22px;
}
input.form-control::placeholder {
	padding-left: 11%;
	font-size: 12px;
	font-color:rgb(76, 76, 76);
	font-weight: bolder;
}

input.userMonth::placeholder {
	padding-left: 11%;
	font-size: 12px;
	font-color:rgb(76, 76, 76);
	font-weight: bolder;
}
input.userYear::placeholder {
	padding-left: 11%;
	font-size: 12px;
	font-color:grey;
	font-weight: bolder;
}
input.userDay::placeholder {
	padding-left: 11%;
	font-size: 12px;
	font-color:rgb(76, 76, 76);
	font-weight: bolder;
}
option.optionMonth {
	font-size: 18px;
	font-color:rgb(76, 76, 76);
	font-weight: bolder;
	padding-left: 11%;
}
a#findId {
    color: peachpuff;
}
a#findId:hover {
    color: orange;
    font-weight: 700;
    font-size: 19px;
}
a#findPw {
    color: peachpuff;
}
a#findPw:hover {
    color: orange;
    font-weight: 700;
    font-size: 19px;
}
.register-wrapping {
    height: 91%;
    margin-top: 0%;
}
input#joinBtn {
    width: 62%;
    margin-left: 11%;
    padding-top: 8px;
    text-align: center;
    font-size: 22px;
    margin-top: 6px;
}
#thisLogin, #thisJoin{
	margin-top: 10px;
    width: 140px;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 11px;
	
}
.action-button {
    margin-bottom: 4%;
    display: flex;
}
.kakaoLogin-wrap {
    text-align: center;
}
input#password {
    height: 52px;
}