@charset "utf-8";

/* Common CSS */
.cols-content .set-btn > .round > * {padding:0 15px;}
.cols-content .set-btn {margin:20px 0 0 0; text-align:center;}
.cols-content .set-btn.aright {margin:20px 0 0; padding-right:10px; text-align:right;}

/* Section MYCGV Area */
.mycgv-info-wrap {width:882px; height:390px; padding:60px 40px 0 58px; background:url(../images/common/bg/bg_mycgv_info.gif) no-repeat 0 0;}
.mycgv-info-wrap em {font-family:verdana, sans-serif; font-weight:bold;}
.mycgv-info-wrap .sect-person-info:after,
.mycgv-info-wrap .cols-benefit-info:after {content:''; clear:both; display:block;}
.mycgv-info-wrap .sect-person-info > .box-image {float:left; width:135px; height:135px;}
.mycgv-info-wrap .sect-person-info > .box-image > .thumb-image{width:100%; height:100%}
.mycgv-info-wrap .sect-person-info > .box-image > .thumb-image > img {width:100%; height:100%; object-fit:cover}
.mycgv-info-wrap .sect-person-info > .box-image .profile-mask{display: block;position: absolute;left: 0;top: 0;width:135px;height:135px;background: url('/images/bg_photocircle03.png') 0 0 no-repeat;}
.mycgv-info-wrap .sect-person-info > .box-contents {float:right; width:719px;}

/* sect-person-info newtype : 150416 추가 */
.mycgv-info-wrap .sect-person-info > .box-contents.newtype > .person-info,
.mycgv-info-wrap .sect-person-info > .box-contents.newtype > .grade-info {width:482px;}
.mycgv-info-wrap .sect-person-info > .box-contents.newtype > .grade-info #view_usergrade{margin-top:12px}
.mycgv-info-wrap .sect-person-info > .box-contents.newtype > .grade-info #view_usergrade ~ a{margin-top:12px}

.mycgv-info-wrap .sect-person-info > .box-contents > .person-info {margin-bottom:15px; padding-bottom:20px; border-bottom:1px solid #e1e1e1}
.mycgv-info-wrap .sect-person-info > .box-contents > .person-info > * {display:inline-block; margin-right:8px; color:#342929; font-weight:500;}
.mycgv-info-wrap .sect-person-info > .box-contents > .person-info > strong {font-size:29px; line-height:32px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .person-info > em {font-size:14px; line-height:14px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .person-info > button[type='button'] {width:17px; height:20px; margin:5px 0 0 0; background:url(../images/sprite/sprite_btn.png) no-repeat 0 -218px; font:0/0 a; vertical-align:top; zoom:1;}
.mycgv-info-wrap .sect-person-info > .box-contents > .person-info > button[type='button']#go_edit_page{margin-top:10px}
/* .mycgv-info-wrap .sect-person-info > .box-contents > .grade-info {} */
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > p {margin-bottom:14px; color:#342929; font-weight:300; font-size:25px; line-height:25px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > p > [class^='txt'] {text-decoration:underline;}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > p.desc1 {font-size:14px;letter-spacing:0px;}
.mycgv-info-wrap .grade-info .btn_user_grade {background: url(../images/common/arr_grade.png) no-repeat 100% 7px;color: #000;font-weight: bold;padding: 0 10px 0 0;line-height: 24px}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info .round + .round,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info .round + .round + .round {margin-left:5px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round + .layer-wrap{ top:720px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round > * {padding:0 15px;}
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round:before, 
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round:after,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round > *:before,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round > *:after,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round.black:before, 
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round.black:after,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round.black > *:before,
.mycgv-info-wrap .sect-person-info > .box-contents > .grade-info > .round.black > *:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round > *:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round > *:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round.black1:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round.black1:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round.black1 > *:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round.black1 > *:after, 
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member .round:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member .round:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member .round > *:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member .round > *:after {background-color:#c3a570}
.mycgv-info-wrap .cols-benefit-info {margin-top:47px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] {float:left; width:250px; height:155px; margin-left:30px; padding-left:30px; border-left:1px solid #e1e1e1}
.mycgv-info-wrap .cols-benefit-info > [class^='col-']:first-child {margin-left:0; padding-left:0; border-left:0 none;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] > h3 {display:inline-block; height:40px; margin:0 0 14px; background:url(/images/sprite_text.png) no-repeat 0 0; line-height:40px; font:0/0 a; vertical-align:middle; zoom:1;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li {overflow:hidden; width:246px; margin-top:13px; padding-bottom:5px; border-bottom:1px solid #e1e1e1; line-height:16px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li:first-child {margin-top:0;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > strong,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span {display:inline-block; color:#342929; font-size:12px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > strong {float:left; width:148px;white-space: nowrap;}
.mycgv-info-wrap .cols-benefit-info > .col-my-coupon ul > li > strong {width:143px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span {float:right; width:95px; text-align:right;}
.mycgv-info-wrap .cols-benefit-info > .col-my-coupon ul > li > span {width: auto;vertical-align: top;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > .round > * {font-weight:300; font-size:11px; line-height:15px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'] ul > li > span > em {color:#342929; font-size:16px; vertical-align:middle;}
.mycgv-info-wrap .cols-benefit-info > .col-one-point ul > li .tooltip_con.tc2 {top:-94px; left:62px;}


.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='my-coupon'] > h3 {width:246px; background-position:31px 12px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > h3 {width:216px; background-position:9px -27px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > a {display:inline-block; width:20px; height:19px; margin-top:11px; background:url(../images/sprite/sprite_btn.png) no-repeat -25px -218px; font:0/0 a; vertical-align:top; zoom:1;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member {color:#222; line-height:1.4; text-align:center;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member > p {margin-top:20px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-point'] > .local-member .round > * {padding:0 10px; line-height:25px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] {position:relative;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite {overflow:hidden; width:240px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite li {float:left; width:109px; height:41px; margin:0 3px 2px 0; padding:2px; border:2px solid #999;}

.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite li > a {position:relative; display:block; width:107px; height:39px; /*border:1px solid #7b6746;*/ color:#342929; font-weight:500; font-size:11px; line-height:39px; text-align:center;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite li > a > span {position:absolute; top:0; right:0; font-family:verdana, sans-serif; line-height:1;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite li > a > span > em {font:0/0 a; zoom:1;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite > button[type='button'] {position:absolute; right:13px; bottom:4px; width:117px; height:49px; padding-left:9px; background:#3b3425 url(../images/common/ico/ico_plus02.png) no-repeat 80px 15px; /*border:2px solid #7b6746;*/ color:#fff; font-size:11px; text-align:left;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='favorite-theater'] .sect-favorite > button[type='button'].setting {background:#3a3a3a url(../images/common/ico/icon_setting.png) no-repeat 86px 14px}

.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] {text-align:center; padding-left:25px; width:258px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] > h3 {margin-bottom:7px; width:100%; background:url(../images/sprite/sprite_text.png) no-repeat 50% -64px;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .local-member {color:#342929;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .local-member .msg {margin-bottom:7px; line-height:1.5;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .local-member .caution {margin-top:10px; color:#843a24;}
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .round:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .round:after,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .round i:before,
.mycgv-info-wrap .cols-benefit-info > [class^='col-'][class$='one-now'] .round i:after {background-color:#c3a570;}


.cols-point-wrap {color: #342929;text-align: right;position: absolute;top: 424px;font-size: 13px;width: 895px;font-weight:500;}
.cols-point-wrap span.vr {color:#695c3e;font-weight:500;display: inline-block;margin: 0 5px;}

.cols-content {margin-top:25px;}
.cols-content .col-aside h2 {font:0/0 a; visibility:hidden; zoom:1;}
.cols-content .col-aside .snb a {display:block; position:relative;}
.cols-content .col-aside .snb > ul {margin-bottom:10px;}
.cols-content .col-aside .snb > ul > li {border-top:1px solid #fff;}
.cols-content .col-aside .snb > ul > li:hover, 
.cols-content .col-aside .snb > ul > li:focus, 
.cols-content .col-aside .snb > ul > li.on {margin-top:1px; border-top:0 none}
.cols-content .col-aside .snb > ul > li > a {width:155px; height:34px; padding-left:10px; color:#222; font-weight:500; font-size:14px; line-height:34px;}
.cols-content .col-aside .snb > ul > li:hover > a, 
.cols-content .col-aside .snb > ul > li > a:focus,
.cols-content .col-aside .snb > ul > li.on > a {background-color:#fb4357; color:#fdfcf0;}
.cols-content .col-aside .snb > ul > li > a > i {display:none;}
.cols-content .col-aside .snb > ul > li:hover > a > i, 
.cols-content .col-aside .snb > ul > li > a:focus > i,
.cols-content .col-aside .snb > ul > li.on > a > i {display:block; position:absolute; top:0; left:-18px; width:18px; height:34px; background:url(../images/common/bg/ribon_left.png) no-repeat 0 0;}
.cols-content .col-aside .snb > ul > li.my-event {background-color:#222; border:0 none;margin-bottom: 5px;}
.cols-content .col-aside .snb > ul > li.my-event > a {width:146px; padding-left:14px; color:#fff; background:url(/images/ico_newwindow.gif) no-repeat 145px 6px;}
.cols-content .col-aside .snb > ul > li:hover.my-event,
.cols-content .col-aside .snb > ul > li:focus.my-event {margin-top:0;}
.cols-content .col-aside .snb > ul > li.my-event > a:hover,
.cols-content .col-aside .snb > ul > li.my-event > a:focus {background-color:inherit;}
.cols-content .col-aside .snb > ul > li:first-child{border-top:1px solid #fff}
.cols-content .col-aside .snb > ul > li:hover, 
.cols-content .col-aside .snb > ul > li:focus, 
.cols-content .col-aside .snb > ul > li.on {margin-top:1px; border-top:0 none}
.cols-content .col-aside .snb li ul {padding:15px 0;}
.cols-content .col-aside .snb li li {margin-top:10px;}
.cols-content .col-aside .snb li li:first-child {margin-top:0;}
.cols-content .col-aside .snb li li > a {width:125px; height:14px; padding:0 0 0 35px; font-size:14px; line-height:14px;white-space: nowrap;letter-spacing: -0.02em;}
.cols-content .col-aside .snb li li:hover > a,
.cols-content .col-aside .snb li li > a:focus,
.cols-content .col-aside .snb li li.on > a {background:url(../images/ico_smenu_hand.png) no-repeat 0 0; color:#fb4357;}

.cols-content .col-aside .ad-partner01, 
.cols-content .col-aside .ad-partner02 {margin-bottom:10px;}

/* MY CGV detail Area */
.cols-content .tit-mycgv {overflow:hidden; position:relative; line-height:34px;} /* 20140430 DanielKim Del margin-bottom:5px; */
.cols-content .tit-mycgv:after {content:''; clear:both; display:block;}
.cols-content .tit-mycgv > h3,
.cols-content .tit-mycgv > h4 {float:left; height:34px; margin:0; background-image:none; color:#222; font-weight:500; font-size:17px; line-height:34px; text-align:left;}
.cols-content .tit-mycgv > h4 {font-size:14px;}
.cols-content .tit-mycgv p {float:left; margin-left:5px;}
.cols-content .tit-mycgv p > a {display:inline-block; width:20px; height:19px; margin-left:5px; background:url(../images/sprite/sprite_btn.png) no-repeat -50px -62px; font:0/0 a; vertical-align:middle; zoom:1;}
.cols-content .tit-mycgv.type2 {padding-bottom:8px; border-bottom:2px solid #222;}
.cols-content .tit-mycgv.type2 p {clear:both; float:none; margin-left:0; font-size:13px; line-height:1;}
.cols-content .tit-mycgv.type2 p em {color:#fb4357;}
.cols-content .tit-mycgv.type2 a.round {position:absolute; right:0; bottom:8px;}
.cols-content .tit-mycgv.type2 a.round span {width:80px;}

.cols-content .tit-mycgv.type3 {padding-bottom:36px;}
.cols-content .tit-mycgv.type3 > h3 {height:41px;}
.cols-content .tit-mycgv.type3 p {clear:both; float:none; margin-left:0; font-size:15px; line-height:1; color:#222;}

.cols-content .tit-mycgv > span,
.cols-content .tit-mycgv > .set-combo {position:absolute; top:0; right:0; margin:0; color:#666; text-align:left; line-height:1.2;}
.cols-content .tit-mycgv > .set-combo > label {font:0/0 a; zoom:1;}
.cols-content .tit-mycgv > .set-combo > select {margin-right:5px;}
.cols-content .tit-mycgv > .set-combo > select + button {margin-right:10px;}
.cols-content .tit-mycgv > .set-combo > .round > * {padding:0 10px;}
.cols-content .tit-mycgv > button > span {color:#ffffff;}
.cols-content .tit-mycgv > .sect-sorting {position:absolute; top:0; right:0; margin:0;}
.cols-content .tit-mycgv + .tab-menu {margin:10px 0 30px;}
.cols-content .tit-mycgv + .warp-my-reviewlist{margin-top:25px}

.cols-content .tit-mycgv .opt_sort {position:absolute;top:0;right:0}

.cols-content .sect-com-info {margin-bottom:15px; color:#222; font-weight:300; font-size:25px; text-align:center;}
.cols-content .sect-com-info p {margin-bottom:6px;}
.cols-content .sect-com-info p > em,
.cols-content .sect-com-info p > strong {color:#000; font-weight:500;}
.cols-content .sect-com-info span {color:#666; font-size:14px;}
.cols-content .info-log {width:792px; height:30px; margin-bottom:10px; padding-left:8px; background-color:#222; color:#f8f8f8; line-height:30px;}
.cols-content .info-log > a {margin-left:10px; line-height:17px;}
.cols-content .info-log.best {margin-bottom:25px; background-color:#f8f8f8; color:#222; font-weight:500; font-size:13px; text-align:center;}


/* MY 예매내역 Box Type */
[class|="sect-base"][class$="booking"] {width:800px;}
[class|="sect-base"][class$="booking"] .box-polaroid { position:relative;border:1px solid #656560;}
[class|="sect-base"][class$="booking"] .box-inner {width:746px; padding:26px;}
[class|="sect-base"][class$="booking"] .box-inner.lst-item {text-align:center;}
[class|="sect-base"][class$="booking"] .box-number, 
[class|="sect-base"][class$="booking"] .box-detail,
[class|="sect-base"][class$="booking"] .box-detail .account-info,
[class|="sect-base"][class$="booking"] .box-detail .set-btn {float:left;}
[class|="sect-base"][class$="booking"] .lst-item { position:relative;margin-top:25px; padding-top:24px; border-top:1px solid #d6d4ca;}
*+html [class|="sect-base"][class$="booking"] .box-inner .lst-item {overflow:hidden;}
/**+html [class|="sect-base"][class$="booking"] .box-inner .lst-item {overflow:hidden;}*/
[class|="sect-base"][class$="booking"] .lst-item:first-child {margin-top:0; padding-top:0; border-top:0 none;}
[class|="sect-base"][class$="booking"] .lst-item:after {content:''; clear:both; display:block;}
[class|="sect-base"][class$="booking"] .lst-item strong {color:#000;}
[class|="sect-base"][class$="booking"] .lst-item dt,
.cols-mycgv-booking .box-info .box-contents dt {margin-bottom:18px; color:#222; font-weight:500;}
[class|="sect-base"][class$="booking"] .lst-item dd {margin-top:5px;}
[class|="sect-base"][class$="booking"] .lst-item dd:first-child,
.cols-mycgv-booking .box-info .box-contents dd:first-child {margin-top:0;}
[class|="sect-base"][class$="booking"] .lst-item dd em,
.cols-mycgv-booking .box-info .box-contents dd em {margin-right:10px; color:#222;}
[class|="sect-base"][class$="booking"] .box-number {width:90px;}
[class|="sect-base"][class$="booking"] .box-number * {display:block;}
[class|="sect-base"][class$="booking"] .box-number em,
[class|="sect-base"][class$="booking"] .box-number span {color:#666; font-size:11px;}
[class|="sect-base"][class$="booking"] .box-number strong {margin:7px 0; font-family:verdana, sans-serif; font-size:12px; font-weight:bold;}
[class|="sect-base"][class$="booking"] .box-number strong i,
.cols-mycgv-booking .box-set-info .box-number > strong i {color:#fb4357;}
[class|="sect-base"][class$="booking"] .box-image {margin:0 13px 0 19px;}
[class|="sect-base"][class$="booking"] .box-image .thumb-image > img {width:55px; height:70px;}
[class|="sect-base"][class$="booking"] .box-contents {width:245px; margin-right:15px;}
[class|="sect-base"][class$="booking"] .box-contents .iconbox {margin-top:5px;}
[class|="sect-base"][class$="booking"] .box-detail .set-btn button {display:block; line-height:21px;}
[class|="sect-base"][class$="booking"] .box-detail .set-btn button:first-child,
[class|="sect-base"][class$="booking"] .box-detail .set-btn > input[type="hidden"] + button {margin-bottom:12px;}
[class|="sect-base"][class$="booking"] .box-detail .set-btn button.round > * {width:85px; padding:0;}
*+html [class|="sect-base"][class$="booking"] .box-detail .set-btn button[type='button'].round * {width:70px;}
/**+html [class|="sect-base"][class$="booking"] .box-detail .set-btn button[type='button'].round * {width:70px;}*/
[class|="sect-base"][class$="booking"] .box-detail {width:291px; padding-left:16px; border-left:1px solid #d6d4ca;}
[class|="sect-base"][class$="booking"] .box-detail .account-info {width:175px;}
[class|="sect-base"][class$="booking"] .box-detail .set-btn {width:94px; padding-left:22px;}
[class|="sect-base"][class$="booking"] .box-detail .set-btn button[type='button'].btn-reservation-cancel + .layer-wrap{ position:fixed; margin:-290px 0 0 -400px;}
/* .wrap-reservationcancel{} */
.wrap-reservationcancel .title{ display:block; color:#222222; font-size:23px; text-align:center;}
.wrap-reservationcancel > div{ margin:10px 0; padding:10px 10px 20px; border:1px solid #000000; background:#ffffff; line-height:1.6;}
.wrap-reservationcancel > div > strong{ display:block; margin:10px 0;}
.wrap-reservationcancel > div > p{ padding-left:10px; text-indent:-10px;}
.wrap-reservationcancel > div > p.phone{ padding-left:60px; text-indent:-60px;}


/* MY CGV 참여이력 */
[class|="sect-mycgv"][class$="part"] {margin:30px 0;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner {overflow:hidden; width:338px; height:273px; padding:29px 30px 0; border-left:1px solid #000;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner:first-child {border-left:0 none;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li {position:relative; border-bottom:1px solid #d6d4ca; line-height:41px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li:first-child {border-top:2px solid #d6d4ca;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li:after {content:''; clear:both; display:block;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li em {color:#333; font-family:verdana, sans-serif; font-size:13px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li strong {color:#222; font-size:12px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li span {position:absolute; top:0; right:2px;}
*+html [class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li span {line-height:1.2;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li a {overflow:hidden; width:229px; text-overflow:ellipsis; white-space:nowrap;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li strong {font-weight:300;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner .col-myevt li em {width:21px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner .col-myqna li em {width:25px; margin-right:10px; font-weight:500; font-size:12px;}
[class|="sect-mycgv"][class$="part"] .tit-mycgv p > a {margin-top:5px;}

[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li a.round,
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li span.round {display:inline-block; float:none; overflow:visible; width:auto; margin:10px 0 0 20px; font-weight:300; font-size:11px; text-overflow:clip; vertical-align:middle;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner .col-myevt li a.round.red {vertical-align: top;}
*+html [class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li a.round,
*+html [class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li span.round {margin:0 0 0 20px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li a.round > *,
[class|="sect-mycgv"][class$="part"] .box-polaroid .box-inner li span.round > * {display:inline-block; position:static; top:0; right:0; line-height:15px;}

[class|="sect-mycgv"][class$="part"] .box-polaroid.type1 .box-inner {float:none; width:auto; height:auto; padding:29px 30px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid.type1 .box-inner .col-myqna {margin-bottom:10px;}
[class|="sect-mycgv"][class$="part"] .box-polaroid.type1 .box-inner .col-myqna li a {width:645px;}

