<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<typeAliases>
			<typeAlias alias="movieInfo" type="com.dgv.web.admin.vo.AdminMovieInfoVO"/>
			<typeAlias alias="AdminTheaterLocationVO" type="com.dgv.web.admin.vo.AdminTheaterLocationVO"/>
			<typeAlias alias="AdminTheaterVO" type="com.dgv.web.admin.vo.AdminTheaterVO"/>
			<typeAlias alias="AdminRegionVO" type="com.dgv.web.admin.vo.AdminRegionVO"/>
			<typeAlias alias="AdminCityVO"   type="com.dgv.web.admin.vo.AdminCityVO"/>
			<typeAlias alias="AdminGenreVO"   type="com.dgv.web.admin.vo.AdminGenreVO"/>
			<typeAlias alias="AdminAgeVO"   type="com.dgv.web.admin.vo.AdminAgeVO"/>
			<typeAlias alias="AdminGroupVO"   type="com.dgv.web.admin.vo.AdminGroupVO"/>
			<typeAlias alias="AdminActorVO"   type="com.dgv.web.admin.vo.AdminActorVO"/>
			<typeAlias alias="AdminVO"   type="com.dgv.web.admin.vo.AdminVO"/>
			<typeAlias alias="AdminInquiryVO"   type="com.dgv.web.admin.vo.AdminInquiryVO"/>
			<typeAlias alias="AdminNoticeVO"   type="com.dgv.web.admin.vo.AdminNoticeVO"/>
			<typeAlias alias="AdminTheaterVO"   type="com.dgv.web.admin.vo.AdminTheaterVO"/>
			<typeAlias alias="AdminParVO"   type="com.dgv.web.admin.vo.AdminParVO"/>
			<typeAlias alias="AdminMovieVO"   type="com.dgv.web.admin.vo.AdminMovieVO"/>
			<typeAlias alias="AdminTermVO"   type="com.dgv.web.admin.vo.AdminTermVO"/>
			<typeAlias alias="AdminCityTheaterVO"   type="com.dgv.web.admin.vo.AdminCityTheaterVO"/>
			<typeAlias alias="AdminRankVO"   type="com.dgv.web.admin.vo.AdminRankVO"/>
			<typeAlias alias="S3keyVO"   type="com.dgv.web.admin.common.S3KeyVO"/>
			<typeAlias alias="UserVO" type="com.dgv.web.user.vo.UserVO"/>
			<typeAlias alias="UserDetailVO" type="com.dgv.web.user.vo.UserDetailVO"/>
			<typeAlias alias="UserInquiryVO" type="com.dgv.web.user.vo.UserInquiryVO"/>
		</typeAliases>
			<mappers>
				<mapper resource="mappings/admin/movieInfo-mapping.xml"/>
				<mapper resource="mappings/admin/movieTotal-mapping.xml"/>
				<mapper resource="mappings/admin/movieCity-mapping.xml"/>
				<mapper resource="mappings/admin/movieGenre-mapping.xml"/>
				<mapper resource="mappings/admin/movieGroup-mapping.xml"/>
				<mapper resource="mappings/admin/movieAge-mapping.xml"/>
				<mapper resource="mappings/admin/adminUser-mapping.xml"/>
				<mapper resource="mappings/admin/adminBoard-mapping.xml"/>
				<mapper resource="mappings/admin/adminMovie-mapping.xml"/>
				<mapper resource="mappings/common/s3-mapping.xml"/>
				<mapper resource="mappings/user/userBoard-mapping.xml"/>
				<mapper resource="mappings/user/userMapper.xml"/>
				<mapper resource="mappings/user/userMovie-mapping.xml"/>
			</mappers>
</configuration>