<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<typeAliases>
			<typeAlias alias="movieInfo" type="com.dgv.web.admin.vo.AdminMovieInfoVO"/>
			<typeAlias alias="AdminSeatVO" type="com.dgv.web.admin.vo.AdminSeatVO"/>
		</typeAliases>
			<mappers>
				<mapper resource="mappings/movieInfo-mapping.xml"/>
			</mappers>
</configuration>